@model IEnumerable<SistemaVenda.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Cadastros de usuários</h2>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
			<th>Ações</th>
			<th scope="col">Nome</th>
			<th scope="col">Email</th>
			<th scope="col">Senha</th>
			<th scope="col">Endereço</th>
			<th scope="col">Valor</th>
			<th scope="col">Id</th>
            
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						<a href="Usuario/Edit?id=@item.Id">Editar</a>
						<a href="javascript:apagar(@item.Id,'Usuario')">Apagar</a>
					</td>
					<td>@item.Nome</td>
					<td>@item.Email</td>
					<td>@item.Senha</td>
					<td>@item.Endereco</td>
					<td>@item.ValorGasto</td>
					<td>@item.Id</td>
					
				</tr>
		}
    </tbody>
</table>

