@model IEnumerable<SistemaVenda.Models.PromocaoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Cadastro de promoções</h2>

<p>
    <a asp-action="Create">Cadastrar nova promoção</a>
</p>


<table class="table table-bordered">
    <thead>
		<tr>
			<th>Ações</th>
			<th scope="col">Categoria</th>
			<th scope="col">Porcentagem</th>
			<th scope="col">Id</th>
			<th scope="col">Data do Início</th>
			<th scope="col">Data do Fim</th>
		</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="Promocao/Edit?id=@item.Id">Editar</a>
                <a href="javascript:apagar(@item.Id,'Promocao')">Apagar</a>
            </td>
            <td>@item.IdCategoria</td>
            <td>@item.Porcentagem</td>
            <td>@item.Id</td>
			<td>@item.DataInicio</td>
			<td>@item.DataFim</td>
        </tr>
                 
        }
       
    </tbody>
</table>

