@model IEnumerable<SistemaVenda.Models.ComidasViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Pratos cadastrados</h2>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>

<table class=" table table-bordered">
	<thead>
		<tr>
			<td>Ações</td>
			<td>Descrição</td>
			<td>Preço</td>
			<td>Categoria</td>
			<td>Embalagem</td>
			<td>Id</td>
		</tr>	
	</thead>
	<tbody>
		@foreach (var item in Model)
		{ 
			<tr>
				<td>
					<a href="Comida/Edit?id=@item.Id">Editar</a>
					<a href="javascript:apagar(@item.Id,'Comida')">Apagar</a>
				</td>
				<td>@item.Descricao</td>
				<td>@item.Preco</td>
				<td>@item.IdCategoria</td>
				<td>@item.IdEmbalagem</td>
				<td>@item.Id</td>
			</tr>
		}
	</tbody>
</table>
